extends layouts/default.pug

block vars
	- var pageTitle = 'home'

block content
	.c-bigbanner
		.c-bigbanner__slides
			.c-bigbanner__slide
				.c-bigbanner__image
					img(src="img/home-bigbanner.jpg", alt="")
				.c-bigbanner__info
					hgroup
						h2
							span Nuevo 
							| programa de
						h1 Descuentos					
					span  
						i En 
						| medicamentos

block append scripts

